.progress-div {
    background-color: transparent;
    padding: 2px;
    padding-bottom: 1px;
    border: 1px solid #fff;
}

.progress {
    background-color: #fff;;
    height: 7px;
    transition: 1s ease;
    text-align: center;
}